html
  head
    style(type="text/css").
      body{
        width: 100%;
        height: 100%;
        
      
      }
      .right {
        float: right;
        height: 52px;
        width: 302;
        padding: 10px;
      }
      .main   {
        justify-content: center;
        align-content: center;
        margin: 0;
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        color: #00716A;
        font-family:  Arial, Helvetica, sans-serif;
        -ms-transform: translate(-50%, -75%);
        transform: translate(-50%, -75%);

        
      }
      .top{
        width: 100%;
        position: absolute;
        background-color: #f5f5f5;
        height: 120px;
        margin: 0;
        align-content: right;
        box-shadow: 0px 4px 10px rgba(0,113,106,0.25)

      }
      .success-checkmark {
          width: 80px;
          height: 115px;
          margin: 0 auto;    
          
      }
      .check-icon {
              align-content: center;
              width: 80px;
              height: 80px;
              position: relative;
              border-radius: 50%;
              box-sizing: content-box;
              border: 4px solid #4CAF50;
              -ms-transform: translate(100px, 0);
              transform: translate(100px, 0);

              
              &::before {
                  top: 3px;
                  left: -2px;
                  width: 30px;
                  transform-origin: 100% 50%;
                  border-radius: 100px 0 0 100px;
              }
              
              &::after {
                  top: 0;
                  left: 30px;
                  width: 60px;
                  transform-origin: 0 50%;
                  border-radius: 0 100px 100px 0;
                  animation: rotate-circle 4.25s ease-in;
              }
              
              &::before, &::after {
                  content: '';
                  height: 100px;
                  position: absolute;
                  background: #FFFFFF;
                  transform: rotate(-45deg);
              }
              
              .icon-line {
                  height: 5px;
                  background-color: #4CAF50;
                  display: block;
                  border-radius: 2px;
                  position: absolute;
                  z-index: 10;
                  
                  &.line-tip {
                      top: 46px;
                      left: 14px;
                      width: 25px;
                      transform: rotate(45deg);
                      animation: icon-line-tip 0.75s;
                  }
                  
                  &.line-long {
                      top: 38px;
                      right: 8px;
                      width: 47px;
                      transform: rotate(-45deg);
                      animation: icon-line-long 0.75s;
                  }
              }
              
             
          }

       .icon-circle {
                  top: -4px;
                  left: -4px;
                  z-index: 10;
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  position: absolute;
                  box-sizing: content-box;
                  border: 4px solid rgba(76, 175, 80, .5);
              }
              
              .icon-fix {
                  top: 8px;
                  width: 5px;
                  left: 26px;
                  z-index: 1;
                  height: 85px;
                  position: absolute;
                  transform: rotate(-45deg);
                  background-color: #FFFFFF;
              }    

      @keyframes rotate-circle {
          0% {
              transform: rotate(-45deg);
          }
          5% {
              transform: rotate(-45deg);
          }
          12% {
              transform: rotate(-405deg);
          }
          100% {
              transform: rotate(-405deg);
          }
      }
      @keyframes icon-line-tip {
          0% {
              width: 0;
              left: 1px;
              top: 19px;
          }
          54% {
              width: 0;
              left: 1px;
              top: 19px;
          }
          70% {
              width: 50px;
              left: -8px;
              top: 37px;
          }
          84% {
              width: 17px;
              left: 21px;
              top: 48px;
          }
          100% {
              width: 25px;
              left: 14px;
              top: 45px;
          }
      }
      @keyframes icon-line-long {
          0% {
              width: 0;
              right: 46px;
              top: 54px;
          }
          65% {
              width: 0;
              right: 46px;
              top: 54px;
          }
          84% {
              width: 55px;
              right: 0px;
              top: 35px;
          }
          100% {
              width: 47px;
              right: 8px;
              top: 38px;
          }
      }
    title= title
  body
    .top
      div(class="right" onclick= 'window.location.assign("http://silver.best.antam.com")')
        <svg width="302" height="95" viewBox="0 0 603 190" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M121.099 85.2924C120.478 80.5427 123.192 66.4099 124.571 61.4745C125.599 57.7937 126.752 54.767 128.079 51.4278C128.872 49.4322 131.745 43.8778 132.868 42.7655C134.386 44.3446 136.843 49.3835 137.952 51.9944C142.641 63.0366 144.698 75.796 144.834 88.1853L121.099 85.2924ZM41.7978 88.2427C41.8866 79.5823 42.9785 70.3617 45.1003 62.4947C46.128 58.6868 47.2701 55.2791 48.7256 51.8745C49.8398 49.2667 52.2614 44.3216 53.7584 42.7655C56.5715 45.5522 60.9256 57.0748 62.0987 61.6133C63.3766 66.5573 66.1806 80.5117 65.526 85.2486L41.7978 88.2427ZM77.3079 84.2968C77.1772 78.1921 78.0007 70.9305 78.7426 64.9169C80.1369 53.6143 82.7841 42.5051 86.677 32.0657C87.6903 29.3486 91.7079 20.1741 93.3131 18.5629C94.0048 19.2572 96.3722 23.8002 96.9747 25.1011C100.41 32.5234 102.754 39.4645 104.753 47.7171C107.156 57.6361 109.54 74.0762 109.318 84.2968C95.4138 83.4646 91.1966 83.4824 77.3079 84.2968ZM69.8464 49.9886L66.6398 43.2315C65.1031 40.1902 62.889 36.589 60.9127 33.9547C60.1508 32.9384 59.3956 32.049 58.6703 31.1011C58.0131 30.2421 54.4648 26.376 53.7584 25.961L47.2856 32.9342C42.6633 39.2468 39.6986 44.097 36.6017 52.2933C32.2647 63.7725 30.0234 76.2257 29.9924 89.948L15.473 92.3253C13.2453 92.7022 2.07115 94.3924 0.983398 94.9718C4.22812 95.1694 8.86295 94.6996 12.2324 94.5522C55.3141 92.6659 96.7933 92.5884 139.954 93.395C151.27 93.6066 162.903 94.0511 174.237 94.5454C177.655 94.6943 182.353 95.1724 185.643 94.9718C184.548 94.3886 173.5 92.7218 171.29 92.345L156.634 89.9472C156.593 72.1026 152.219 51.8859 142.777 37.8397L139.415 33.0302C138.076 31.1918 134.496 27.2211 132.868 25.961C132.161 26.376 128.613 30.2421 127.955 31.1011C127.249 32.0252 126.571 32.8382 125.787 33.8587C123.91 36.3018 121.425 40.3988 119.987 43.2323C119.411 44.3665 118.853 45.4233 118.331 46.5239C117.805 47.6321 117.394 48.9107 116.78 49.9886C116.075 47.6759 115.55 45.0816 114.896 42.7413C112.97 35.8524 110.528 28.9525 107.57 22.6293C104.983 17.0984 101.155 10.1898 97.5201 5.55456L93.9666 1.12648C93.6162 0.695609 93.7496 0.788199 93.3131 0.513428L90.2014 4.09604C88.4522 6.40609 87.0689 8.23426 85.4868 10.787C79.1935 20.9459 75.0746 30.8464 71.7675 42.6087C71.0933 45.006 70.5653 47.629 69.8464 49.9886Z" fill="#00716A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.7585 163.74C54.7136 163.001 55.3599 162.366 56.2122 161.299C56.6374 160.767 56.9904 160.556 57.4814 160.03C58.8276 158.588 61.7485 154.605 62.9069 152.874C64.2067 150.932 65.3832 148.738 66.6206 146.525L69.8933 139.712C72.0847 149.369 75.2425 158.992 79.0594 167.153C81.8604 173.142 86.8007 181.927 91.1679 186.739C91.7999 187.435 92.6431 188.656 93.3132 189.187C95.0642 187.798 99.8295 180.873 101.114 178.96C108.204 168.404 113.777 152.739 116.733 139.712L120.006 146.524C122.729 151.386 125.45 155.854 129.065 159.941L132.868 163.74C133.474 163.425 134.993 161.667 135.592 161.062C142.292 154.313 146.778 145.647 150.338 136.591C154.226 126.705 157.378 109.459 156.556 97.458L144.817 97.4065C144.934 107.238 144.145 116.255 141.992 125.329C140.705 130.751 138.433 137.425 135.844 142.175L132.868 146.941C131.33 145.259 128.566 139.521 127.595 137.111C123.712 127.468 121.397 115.888 121.055 105.247C120.973 102.696 121.162 100.115 121.071 97.5116C120.291 97.3102 110.224 97.3113 109.194 97.4735C109.115 101.207 109.427 104.853 109.262 108.553C108.431 127.297 105.095 147.033 97.3199 163.808L93.3132 171.137L92.2281 169.428C82.2649 151.743 78.2854 129.19 77.3711 108.714C77.2014 104.922 77.5563 101.261 77.4354 97.4704L65.5404 97.4141C65.3352 109.496 65.5616 113.274 62.7852 125.416C61.8671 129.429 60.5451 133.388 59.0862 136.995C58.0993 139.435 55.3153 145.255 53.7585 146.941L50.8426 142.285C43.9117 129.673 41.6104 111.893 41.819 97.3967L30.0435 97.4141C29.7922 110.833 31.8448 125.218 36.2397 136.468C38.2213 141.542 40.6508 147.178 43.5954 151.509C45.9054 154.906 48.0805 158.089 50.9496 160.977C51.5536 161.586 53.1557 163.427 53.7585 163.74Z" fill="#F08519"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M302.314 170.914H286.193V139.789C286.193 133.199 285.839 128.943 285.153 127.021C284.447 125.079 283.329 123.589 281.76 122.51C280.191 121.431 278.308 120.902 276.112 120.902C273.288 120.902 270.758 121.667 268.522 123.196C266.266 124.726 264.737 126.766 263.913 129.277C263.07 131.807 262.658 136.474 262.658 143.299V170.914H246.536V109.84H261.481V118.804C266.835 111.958 273.562 108.546 281.701 108.546C285.271 108.546 288.546 109.193 291.508 110.468C294.489 111.763 296.724 113.39 298.235 115.371C299.765 117.371 300.823 119.627 301.412 122.157C302.02 124.687 302.314 128.296 302.314 133.003V170.914Z" fill="#00716A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M323.337 170.914V120.726H308.313V108.914H355.702V120.726H340.047V170.914H323.337Z" fill="#00716A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M422.236 109.84H437.45V118.176C442.903 111.763 449.403 108.546 456.949 108.546C460.954 108.546 464.435 109.35 467.373 110.958C470.332 112.567 472.746 114.998 474.618 118.254C477.375 114.998 480.353 112.567 483.533 110.958C486.712 109.35 490.113 108.546 493.735 108.546C498.324 108.546 502.207 109.448 505.407 111.272C508.586 113.096 510.961 115.763 512.531 119.294C513.677 121.883 514.241 126.099 514.241 131.924V170.914H497.7V136.062C497.7 130.002 497.136 126.099 495.989 124.354C494.46 122.059 492.085 120.902 488.906 120.902C486.591 120.902 484.398 121.588 482.345 122.961C480.313 124.354 478.824 126.374 477.918 129.021C477.013 131.689 476.57 135.886 476.57 141.632V170.914H460.028V137.494C460.028 131.571 459.726 127.727 459.143 126.021C458.559 124.295 457.654 123 456.406 122.157C455.179 121.314 453.488 120.902 451.375 120.902C448.82 120.902 446.525 121.569 444.493 122.902C442.441 124.255 440.991 126.178 440.106 128.708C439.22 131.238 438.778 135.435 438.778 141.279V170.914H422.236V109.84Z" fill="#00716A"/>
            <path d="M222.078 143.513H215.804C213.147 143.513 210.892 143.714 209.016 144.094C207.141 144.495 205.622 145.076 204.439 145.88C203.256 146.661 202.407 147.599 201.871 148.716C201.313 149.832 201.045 151.104 201.045 152.533C201.045 154.99 201.827 156.91 203.367 158.294C204.908 159.701 207.051 160.393 209.798 160.393C212.097 160.393 214.219 159.812 216.161 158.629C218.103 157.445 220.068 155.726 222.078 153.449V143.513ZM238.288 168.565C238.288 169.168 238.065 169.637 237.641 169.994C237.194 170.351 236.501 170.597 235.564 170.753C234.626 170.909 233.242 170.976 231.389 170.976C229.424 170.976 227.995 170.909 227.102 170.753C226.208 170.597 225.561 170.351 225.204 169.994C224.824 169.637 224.645 169.168 224.645 168.565V163.921C222.234 166.488 219.51 168.475 216.429 169.904C213.37 171.333 209.954 172.048 206.203 172.048C203.121 172.048 200.263 171.646 197.674 170.842C195.084 170.038 192.851 168.833 190.953 167.248C189.055 165.64 187.581 163.675 186.532 161.331C185.482 158.964 184.969 156.217 184.969 153.091C184.969 149.676 185.638 146.728 186.956 144.227C188.296 141.704 190.283 139.65 192.917 137.998C195.552 136.368 198.812 135.162 202.742 134.381C206.649 133.599 211.204 133.198 216.384 133.198H222.078V129.67C222.078 127.839 221.899 126.231 221.52 124.847C221.162 123.485 220.537 122.324 219.689 121.408C218.84 120.493 217.724 119.823 216.295 119.377C214.888 118.952 213.124 118.729 211.048 118.729C208.302 118.729 205.845 119.042 203.702 119.645C201.536 120.247 199.638 120.939 197.986 121.676C196.334 122.413 194.949 123.105 193.833 123.708C192.717 124.311 191.823 124.623 191.131 124.623C190.64 124.623 190.216 124.467 189.859 124.177C189.479 123.864 189.167 123.418 188.943 122.859C188.698 122.302 188.519 121.587 188.385 120.761C188.251 119.935 188.184 119.019 188.184 118.037C188.184 116.675 188.296 115.603 188.519 114.821C188.72 114.04 189.144 113.348 189.747 112.7C190.372 112.075 191.422 111.383 192.962 110.624C194.481 109.865 196.267 109.15 198.321 108.503C200.375 107.833 202.608 107.297 205.02 106.895C207.453 106.471 209.954 106.27 212.522 106.27C217.099 106.27 221.006 106.717 224.266 107.61C227.504 108.503 230.183 109.887 232.259 111.74C234.358 113.593 235.899 115.983 236.859 118.908C237.819 121.81 238.288 125.293 238.288 129.29V168.565Z" fill="#00716A"/>
            <path d="M397.778 143.513H391.504C388.846 143.513 386.592 143.714 384.716 144.094C382.84 144.495 381.322 145.076 380.139 145.88C378.955 146.661 378.107 147.599 377.571 148.716C377.013 149.832 376.745 151.104 376.745 152.533C376.745 154.99 377.526 156.91 379.067 158.294C380.608 159.701 382.751 160.393 385.497 160.393C387.797 160.393 389.918 159.812 391.861 158.629C393.803 157.445 395.768 155.726 397.778 153.449V143.513ZM413.988 168.565C413.988 169.168 413.764 169.637 413.34 169.994C412.894 170.351 412.202 170.597 411.264 170.753C410.326 170.909 408.942 170.976 407.089 170.976C405.124 170.976 403.695 170.909 402.802 170.753C401.908 170.597 401.261 170.351 400.904 169.994C400.524 169.637 400.346 169.168 400.346 168.565V163.921C397.934 166.488 395.21 168.475 392.129 169.904C389.07 171.333 385.654 172.048 381.903 172.048C378.821 172.048 375.964 171.646 373.373 170.842C370.783 170.038 368.551 168.833 366.653 167.248C364.755 165.64 363.281 163.675 362.232 161.331C361.183 158.964 360.669 156.217 360.669 153.091C360.669 149.676 361.339 146.728 362.656 144.227C363.996 141.704 365.983 139.65 368.618 137.998C371.252 136.368 374.512 135.162 378.442 134.381C382.349 133.599 386.904 133.198 392.084 133.198H397.778V129.67C397.778 127.839 397.599 126.231 397.22 124.847C396.862 123.485 396.237 122.324 395.389 121.408C394.54 120.493 393.424 119.823 391.995 119.377C390.588 118.952 388.825 118.729 386.748 118.729C384.001 118.729 381.546 119.042 379.402 119.645C377.236 120.247 375.338 120.939 373.686 121.676C372.034 122.413 370.65 123.105 369.533 123.708C368.417 124.311 367.523 124.623 366.831 124.623C366.34 124.623 365.916 124.467 365.559 124.177C365.179 123.864 364.867 123.418 364.643 122.859C364.397 122.302 364.219 121.587 364.085 120.761C363.951 119.935 363.884 119.019 363.884 118.037C363.884 116.675 363.996 115.603 364.219 114.821C364.42 114.04 364.844 113.348 365.447 112.7C366.072 112.075 367.122 111.383 368.662 110.624C370.181 109.865 371.967 109.15 374.021 108.503C376.075 107.833 378.308 107.297 380.719 106.895C383.153 106.471 385.654 106.27 388.222 106.27C392.799 106.27 396.706 106.717 399.966 107.61C403.203 108.503 405.883 109.887 407.96 111.74C410.058 113.593 411.599 115.983 412.559 118.908C413.519 121.81 413.988 125.293 413.988 129.29V168.565Z" fill="#00716A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M562.691 41.9929C568.639 41.9929 574.285 43.2904 579.359 45.6182L576.087 51.7029C571.991 49.8891 567.459 48.8811 562.691 48.8811V53.6456C575.768 53.6456 586.778 62.4931 590.064 74.529H582.834C579.794 66.3561 571.922 60.5338 562.691 60.5338C550.825 60.5338 541.205 70.1534 541.205 82.02C541.205 93.8866 550.825 103.506 562.691 103.506C571.922 103.506 579.794 97.6839 582.834 89.511H590.064C586.778 101.547 575.768 110.394 562.691 110.394V115.159C568.528 115.159 574.012 113.648 578.774 110.999L583.804 116.029C577.675 119.843 570.441 122.047 562.691 122.047C540.584 122.047 522.664 104.127 522.664 82.02C522.664 59.9132 540.584 41.9929 562.691 41.9929ZM587.622 79.0761C589.248 79.0761 590.567 80.3937 590.567 82.02C590.567 83.6467 589.248 84.9642 587.622 84.9642C585.996 84.9642 584.677 83.6467 584.677 82.02C584.677 80.3937 585.996 79.0761 587.622 79.0761ZM585.406 50.772C587.032 50.772 588.351 52.0895 588.351 53.7159C588.351 55.3426 587.032 56.6601 585.406 56.6601C583.78 56.6601 582.461 55.3426 582.461 53.7159C582.461 52.0895 583.78 50.772 585.406 50.772ZM586.699 106.554C588.326 106.554 589.644 107.872 589.644 109.498C589.644 111.125 588.326 112.443 586.699 112.443C585.073 112.443 583.755 111.125 583.755 109.498C583.755 107.872 585.073 106.554 586.699 106.554ZM594.389 57.58C599.61 64.3412 602.718 72.8168 602.718 82.02C602.718 91.524 599.404 100.252 593.87 107.118L588.966 102.213C593.269 96.6222 595.83 89.6206 595.83 82.02C595.83 74.721 593.468 67.9749 589.47 62.4991L594.389 57.58Z" fill="#ED1C24"/>
        </svg>
      .right
        <a href="silver.best.antam.com"> </a>
    div(class="main")
      .success-checkmark
      .check-icon
        div.icon-line.line-tip
        div.icon-line.line-long
        .icon-circle
        .icon-fix
      h1= content
      
    