html
  head
    style(type="text/css").
      body{
        width: 100%;
        height: 100%;
        
      
      }
      .right {
        float: right;
        height: 52px;
        width: 120px;
        padding: 10px;
      }
      .main   {
        justify-content: center;
        align-content: center;
        margin: 0;
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        color: #00716A;
        font-family:  Arial, Helvetica, sans-serif;
        -ms-transform: translate(-50%, -75%);
        transform: translate(-50%, -75%);

        
      }
      .top{
        width: 100%;
        position: absolute;
        background-color: #F1FCFD;
        height: 100px;
        margin: 0;
        align-content: right;
        box-shadow: 0px 4px 10px rgba(0,113,106,0.25)

      }
      .success-checkmark {
          width: 80px;
          height: 115px;
          margin: 0 auto;    
          
      }
      .check-icon {
              align-content: center;
              width: 80px;
              height: 80px;
              position: relative;
              border-radius: 50%;
              box-sizing: content-box;
              border: 4px solid #4CAF50;
              -ms-transform: translate(100px, 0);
              transform: translate(100px, 0);

              
              &::before {
                  top: 3px;
                  left: -2px;
                  width: 30px;
                  transform-origin: 100% 50%;
                  border-radius: 100px 0 0 100px;
              }
              
              &::after {
                  top: 0;
                  left: 30px;
                  width: 60px;
                  transform-origin: 0 50%;
                  border-radius: 0 100px 100px 0;
                  animation: rotate-circle 4.25s ease-in;
              }
              
              &::before, &::after {
                  content: '';
                  height: 100px;
                  position: absolute;
                  background: #FFFFFF;
                  transform: rotate(-45deg);
              }
              
              .icon-line {
                  height: 5px;
                  background-color: #4CAF50;
                  display: block;
                  border-radius: 2px;
                  position: absolute;
                  z-index: 10;
                  
                  &.line-tip {
                      top: 46px;
                      left: 14px;
                      width: 25px;
                      transform: rotate(45deg);
                      animation: icon-line-tip 0.75s;
                  }
                  
                  &.line-long {
                      top: 38px;
                      right: 8px;
                      width: 47px;
                      transform: rotate(-45deg);
                      animation: icon-line-long 0.75s;
                  }
              }
              
             
          }

       .icon-circle {
                  top: -4px;
                  left: -4px;
                  z-index: 10;
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  position: absolute;
                  box-sizing: content-box;
                  border: 4px solid rgba(76, 175, 80, .5);
              }
              
              .icon-fix {
                  top: 8px;
                  width: 5px;
                  left: 26px;
                  z-index: 1;
                  height: 85px;
                  position: absolute;
                  transform: rotate(-45deg);
                  background-color: #FFFFFF;
              }    

      @keyframes rotate-circle {
          0% {
              transform: rotate(-45deg);
          }
          5% {
              transform: rotate(-45deg);
          }
          12% {
              transform: rotate(-405deg);
          }
          100% {
              transform: rotate(-405deg);
          }
      }
      @keyframes icon-line-tip {
          0% {
              width: 0;
              left: 1px;
              top: 19px;
          }
          54% {
              width: 0;
              left: 1px;
              top: 19px;
          }
          70% {
              width: 50px;
              left: -8px;
              top: 37px;
          }
          84% {
              width: 17px;
              left: 21px;
              top: 48px;
          }
          100% {
              width: 25px;
              left: 14px;
              top: 45px;
          }
      }
      @keyframes icon-line-long {
          0% {
              width: 0;
              right: 46px;
              top: 54px;
          }
          65% {
              width: 0;
              right: 46px;
              top: 54px;
          }
          84% {
              width: 55px;
              right: 0px;
              top: 35px;
          }
          100% {
              width: 47px;
              right: 8px;
              top: 38px;
          }
      }
    title= title
  body
    .top
      div(class="right" onclick= 'window.location.assign("https://www.w3schools.com")')
        <svg  width="120" height="52" viewBox="0 0 479 204" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M409.062 91.6657C408.392 86.53 411.318 71.2492 412.804 65.9131C413.912 61.9333 415.155 58.6606 416.585 55.05C417.44 52.8923 420.536 46.8868 421.746 45.6844C423.384 47.3913 426.031 52.8398 427.226 55.6626C432.281 67.602 434.498 81.3975 434.645 94.7933L409.062 91.6657ZM323.587 94.8554C323.682 85.4915 324.859 75.5221 327.146 67.0159C328.254 62.8987 329.485 59.2145 331.054 55.533C332.255 52.7134 334.864 47.3668 336.478 45.6844C339.511 48.6974 344.203 61.156 345.468 66.0629C346.845 71.4087 349.868 86.4965 349.162 91.6182L323.587 94.8554ZM361.861 90.5892C361.72 83.9885 362.608 76.1372 363.408 69.6352C364.91 57.4141 367.764 45.4028 371.96 34.1154C373.052 31.1772 377.382 21.2576 379.113 19.5158C379.858 20.2661 382.41 25.1785 383.059 26.5849C386.762 34.6103 389.288 42.1151 391.443 51.038C394.033 61.7627 396.603 79.5384 396.364 90.5892C381.377 89.6893 376.831 89.7083 361.861 90.5892ZM353.819 53.4942L350.363 46.188C348.706 42.8995 346.32 39.0061 344.19 36.1577C343.368 35.0589 342.554 34.0974 341.773 33.0725C341.064 32.1435 337.24 27.9632 336.478 27.5146L329.502 35.0544C324.52 41.8794 321.324 47.1239 317.986 55.9859C313.311 68.3974 310.895 81.8624 310.862 96.6994L295.212 99.2697C292.811 99.6774 280.767 101.505 279.594 102.131C283.092 102.345 288.088 101.837 291.719 101.677C338.155 99.6381 382.863 99.5544 429.385 100.426C441.581 100.655 454.12 101.136 466.337 101.67C470.02 101.831 475.085 102.348 478.63 102.131C477.45 101.501 465.542 99.6985 463.16 99.2909L447.363 96.6987C447.319 77.4045 442.605 55.5454 432.427 40.3584L428.804 35.158C427.361 33.1703 423.502 28.8771 421.746 27.5146C420.985 27.9632 417.161 32.1435 416.452 33.0725C415.69 34.0714 414.959 34.9503 414.115 36.0538C412.092 38.6954 409.413 43.1251 407.863 46.1889C407.242 47.4152 406.641 48.5578 406.078 49.7479C405.511 50.946 405.068 52.3286 404.406 53.4942C403.647 50.9936 403.081 48.1885 402.376 45.6578C400.3 38.2094 397.667 30.7489 394.479 23.9124C391.691 17.9322 387.565 10.4624 383.647 5.45071L379.817 0.662762C379.439 0.196902 379.583 0.297063 379.113 0L375.758 3.87362C373.873 6.3711 372.382 8.3479 370.677 11.108C363.894 22.0922 359.454 32.797 355.889 45.5147C355.163 48.1065 354.594 50.9428 353.819 53.4942Z" fill="#00716A"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M336.478 176.485C337.508 175.686 338.204 175 339.123 173.846C339.581 173.271 339.962 173.043 340.491 172.474C341.942 170.915 345.09 166.608 346.339 164.737C347.74 162.637 349.008 160.265 350.342 157.871L353.869 150.505C356.231 160.947 359.635 171.352 363.749 180.176C366.768 186.651 372.093 196.15 376.8 201.353C377.481 202.105 378.39 203.425 379.113 204C381 202.498 386.136 195.01 387.52 192.942C395.163 181.528 401.169 164.591 404.356 150.505L407.883 157.871C410.818 163.128 413.752 167.959 417.648 172.378L421.746 176.485C422.401 176.145 424.037 174.244 424.683 173.59C431.904 166.293 436.74 156.922 440.577 147.131C444.767 136.442 448.165 117.795 447.279 104.819L434.626 104.764C434.752 115.394 433.902 125.144 431.581 134.955C430.193 140.818 427.745 148.033 424.954 153.169L421.746 158.322C420.089 156.503 417.11 150.299 416.064 147.694C411.878 137.267 409.382 124.746 409.014 113.241C408.925 110.483 409.13 107.693 409.032 104.877C408.19 104.66 397.339 104.661 396.229 104.836C396.145 108.873 396.481 112.816 396.304 116.816C395.407 137.082 391.812 158.422 383.431 176.559L379.113 184.483L377.943 182.635C367.204 163.514 362.915 139.129 361.929 116.99C361.746 112.89 362.129 108.931 361.999 104.833L349.177 104.772C348.956 117.836 349.2 121.921 346.208 135.049C345.218 139.388 343.793 143.668 342.221 147.568C341.157 150.206 338.156 156.499 336.478 158.322L333.335 153.288C325.865 139.652 323.384 120.427 323.609 104.753L310.917 104.772C310.646 119.281 312.858 134.834 317.595 146.999C319.732 152.484 322.35 158.579 325.524 163.261C328.014 166.934 330.358 170.376 333.451 173.499C334.101 174.156 335.829 176.147 336.478 176.485Z" fill="#F58634"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2933 82.8223C28.68 83.3215 33.1092 88.0766 32.5666 97.3785C29.1658 96.069 25.429 95.3205 21.3537 95.2281C7.87802 94.9225 0 103.311 0 112.927C0 121.158 6.26576 128.398 16.6127 128.848C21.5531 129.063 28.8387 126.619 32.8957 121.694V127.369C37.0283 127.356 41.161 127.356 45.2936 127.369V96.7478C45.4124 82.4813 38.047 75.3685 23.1977 75.4098C13.3292 75.7099 6.56871 80.0656 2.91569 88.4772C7.67461 84.282 13.1281 82.4943 19.2933 82.8223ZM160.772 82.8223C170.159 83.3215 174.588 88.0766 174.045 97.3785C170.645 96.069 166.908 95.3205 162.833 95.2281C149.357 94.9225 141.479 103.311 141.479 112.927C141.479 121.158 147.744 128.398 158.092 128.848C163.032 129.063 170.317 126.619 174.374 121.694V127.369C178.507 127.356 182.64 127.356 186.772 127.369V96.7478C186.891 82.4813 179.526 75.3685 164.677 75.4098C154.808 75.7099 148.047 80.0656 144.395 88.4772C149.153 84.282 154.607 82.4943 160.772 82.8223ZM174.375 104.656L174.211 117.433C171.634 119.553 168.286 120.837 164.152 120.907C157.774 121.015 154.618 117.921 154.918 112.016C155.22 106.068 159.086 102.514 166.09 102.65C169.918 102.724 172.394 103.171 174.375 104.656ZM193.139 78.0769H205.367V84.7972C209.75 79.6265 214.975 77.0332 221.04 77.0332C224.258 77.0332 227.056 77.6815 229.418 78.9782C231.795 80.2748 233.736 82.2355 235.24 84.8604C237.456 82.2355 239.85 80.2748 242.406 78.9782C244.961 77.6815 247.694 77.0332 250.606 77.0332C254.294 77.0332 257.415 77.7606 259.987 79.2311C262.542 80.7017 264.451 82.8523 265.712 85.6987C266.634 87.7859 267.087 91.1854 267.087 95.8819V127.317H253.792V99.2182C253.792 94.3323 253.339 91.1854 252.417 89.7782C251.188 87.9281 249.28 86.9951 246.724 86.9951C244.864 86.9951 243.101 87.5486 241.451 88.6555C239.818 89.7782 238.621 91.4068 237.893 93.5416C237.165 95.6921 236.809 99.076 236.809 103.709V127.317H223.514V100.373C223.514 95.5973 223.272 92.4979 222.803 91.1224C222.334 89.7308 221.606 88.6872 220.603 88.0072C219.616 87.3273 218.258 86.9951 216.56 86.9951C214.506 86.9951 212.662 87.5329 211.028 88.608C209.378 89.6992 208.214 91.2488 207.502 93.2886C206.79 95.3285 206.435 98.7123 206.435 103.424V127.317H193.139V78.0769ZM113.65 127.317V86.8531H101.575V77.3303H139.663V86.8531H127.081V127.317H113.65ZM96.7535 127.317H83.7961V102.223C83.7961 96.9097 83.5123 93.4784 82.9606 91.9286C82.3931 90.3633 81.4947 89.1616 80.2335 88.2918C78.9725 87.422 77.4591 86.9951 75.6938 86.9951C73.4239 86.9951 71.3904 87.6118 69.5935 88.8452C67.7806 90.0787 66.5512 91.7232 65.8889 93.7472C65.2112 95.787 64.8801 99.5504 64.8801 105.053V127.317H51.9227V78.0769H63.9344V85.3033C68.2377 79.7846 73.6445 77.0332 80.1863 77.0332C83.0552 77.0332 85.6878 77.555 88.0679 78.583C90.4639 79.6265 92.261 80.939 93.4748 82.5359C94.7044 84.1489 95.5555 85.9675 96.0284 88.0072C96.5169 90.047 96.7535 92.9566 96.7535 96.7516V127.317ZM32.8968 104.656L32.7318 117.433C30.1556 119.553 26.8067 120.837 22.6734 120.907C16.2954 121.015 13.1394 117.921 13.4393 112.016C13.7411 106.068 17.6075 102.514 24.6109 102.65C28.439 102.724 30.9153 103.171 32.8968 104.656Z" fill="#00716A"/>
        </svg>
      .right
        <a href="http://202.148.1.57:7001/"> </a>
    div(class="main")
      .success-checkmark
      .check-icon
        div.icon-line.line-tip
        div.icon-line.line-long
        .icon-circle
        .icon-fix
      h1= content
      
    